<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Novo Produto</title>
</head>
<body>
    <h1>Adicionar Novo Produto</h1>
    <form action="gravar" method="post">
        <label for="nome">Nome do Produto:</label>
        <input type="text" name="nome" id="nome" required>
        <br>
        <label for="nome">Valor do Produto:</label>
        <input type="number" name="valor" id="valor" required>
        <br>
        <input type="submit" value="Adicionar Produto">
    </form>
    <a href="listar" role="button">Voltar</a>
</body>
</html>
